@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes gradientFlow {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .animate-gradientFlow {
    animation: gradientFlow 12s ease infinite;
  }
}

.logo-3d {
  width: 110px;
  height: 110px;
  position: relative;

  /* CENTRAGE PARFAIT */
  display: flex;
  align-items: center;
  justify-content: center;

  perspective: 1200px;
}

/* Le logo doit être au-dessus des anneaux */
.logo-3d img {
  position: relative;
  z-index: 10;
}

/* Anneau 1 */
.logo-3d::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  border: 3px solid rgba(169, 190, 81, 0.9);

  transform: rotateX(65deg);
  animation: ring3d-spin 1.6s linear infinite;

  box-shadow: 0 0 18px rgba(169, 190, 81, 0.4);
}

/* Anneau 2 */
.logo-3d::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.9);

  transform: rotateY(65deg);
  animation: ring3d-spin 1.6s linear infinite reverse;

  box-shadow: 0 0 18px rgba(253, 253, 255, 0.4);
}

@keyframes ring3d-spin {
  0% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(65deg) rotateY(360deg) rotateZ(360deg);
  }
}

.logo-3d img {
  position: relative;
  z-index: 10;
  filter: drop-shadow(0 0 0 white) drop-shadow(0 0 3px white);
}


@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.8s ease forwards;
}

.animate-slideInRight {
  animation: slideInRight 0.8s ease forwards;
}

/* Contour blanc au text h1 */
.text-neon {
  color: #ffffff;
  text-shadow:
    0 0 4px #eef1f4,
    0 0 8px #fdfdfd,
    0 0 1px #ffffff,
    0 0 1px rgba(255, 255, 255, 0.2),
    0 0 8px rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes pulse {
  0% { opacity: 0.4; }
  100% { opacity: 1; }
}

